{% extends 'base.html.twig' %}

{% block title %}Mon Compte - MyGameBox{% endblock %}

{% block content %}

    <h1> Mon Compte </h1>

    Bienvenue dans votre espace {{ app.user.firstname }}, où vous pouvez gérer toutes vos informations personnelles. 
    <hr>
    <a href="{{path('account_password')}}">Modifier mon mot de passe</a><br/>



{% endblock %}
