{% extends 'base.html.twig' %}

{% block title %}Nous contacter - MyGameBox{% endblock %}

{% block content %}

<h2>Nous contacter</h2>
<p>Nous vous répondrons dans les meilleurs délais</p>
<div class="row">
    <div class="col-md-8">{{form(form)}}</div>
    <div class="col-md-4">
        <strong>MyGameBox</strong>
        <hr>
        06 84 95 09 89 <br>
        10 Impasse Georges Brassens, 31140 - Saint Alban <br>
        contact@mygamebox.fr <br>
    </div>
</div>

{% endblock %}
